{% extends "account/signup.html" %}
{% load blocktrans trans from i18n %}

{% block footerjs %}
	{{ block.super }}
	<script type="text/javascript">fbq("track", "CompleteRegistration");</script>
{% endblock %}

{% block content %}
	{% with request.session.socialaccount_sociallogin.account as account %}
	<div class="page-header">
		<h2>{% trans "Sign up" %}</h2>
	</div>

	{% if not account.extra_data.battletag %}
		<p>
			{% trans "The Blizzard account you are signing up with does not have a confirmed battletag yet, and cannot play Hearthstone." %}<br />
			{% blocktrans %}Please <a href="https://www.blizzard.com" target="_blank" rel="noopener">visit Blizzard.com</a> and sign out to choose a different account.{% endblocktrans %}
		</p>
		<p>
			{% with "mailto:"|add:site_email as contact_url %}
				{% blocktrans %}<a href="{{ contact_url }}">Contact us</a> if you need help signing in to an existing account.{% endblocktrans %}
			{% endwith %}
		</p>
	{% else %}
		<p>{% trans "You are about to create a new HSReplay.net account. Please enter and confirm your details below:" %}</p>

		<form method="POST" action="">
			{% csrf_token %}

			<div class="form-group{% if form.username.errors %} has-error{% endif %}">
				<label class="control-label">{% trans "Battletag" %}</label>
				<input type="hidden" name="username" value="{{ account.extra_data.battletag }}" />
				<input class="form-control" type="text" value="{{ account.extra_data.battletag }}" readonly>
				{% if form.username.errors %}
					<p class="alert alert-danger">
						{{ form.username.errors.0 }}
					</p>
				{% endif %}
				<small class="help-block">
					{% trans "You can change this later by connecting additional accounts." %}
				</small>
			</div>

			<div class="form-group{% if form.email.errors %} has-error{% endif %}">
				<label class="control-label">{% trans "Email address" %}</label>
				<input type="email" name="email" minlength="5" maxlength="150" placeholder="alice@example.org" id="id_email" class="form-control" value="{{ form.email.value }}"/>
				{% if form.email.errors %}
					<p class="alert alert-danger">
						{{ form.email.errors.0 }}
					</p>
				{% endif %}
				<small class="help-block">
					{% trans "Used for account and billing purposes and for optional product updates. Email confirmation is required." %}
				</small>
			</div>

			<div class="checkbox">
				<label>
					{% url 'terms_of_service' as tos_url %}
					<input type="checkbox" required/> {% blocktrans %}I agree to the <a href="{{ tos_url }}">Terms of Service</a>.{% endblocktrans %}
				</label>
			</div>

			<div class="checkbox">
				<label>
					<input type="checkbox" name="email_marketing"/> {% trans "I want to receive product updates by email." %}
				</label>
				<small class="help-block">You can change this at any time.</small>
			</div>

			<input type="submit" value="Sign up" class="btn btn-success"/><br /><br />

			<div class="alert alert-warning">
				<strong>{% trans "Already have an HSReplay.net account?" %}</strong>
				<p>{% trans "If you keep seeing this page despite having registered an HSReplay.net account in the past, you may be logged into the wrong Blizzard account." %}</p>
				<p>{% trans "You can sign in to a different Blizzard account by following these steps:" %}</p>
				<ol>
					<li>
						<a href="https://battle.net/en/?logout" target="_blank" rel="noopener">
							{% trans "Sign out of your Blizzard account" %}
						</a>
					</li>
					<li>
						<a href="{% url 'account_login' %}">
							{% trans "Return to the HSReplay.net sign in page" %}
						</a>
					</li>
					<li>{% trans "Sign into the correct Blizzard account" %}</li>
				</ol>
				<p>
					{% with "mailto:"|add:site_email as contact_url %}
					{% blocktrans %}<a href="{{ contact_url }}">Contact us</a> if you need help signing in to an existing account. We can merge accounts for you!{% endblocktrans %}
					{% endwith %}
				</p>
			</div>
		</form>
	{% endif %}
	{% endwith %}
{% endblock %}
