{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load web_extras %}

{% block error_reporting %}
	{% comment %}Disable error reporting since it conflicts with Joust's Sentry{% endcomment %}
{% endblock %}

{% block fullcontent %}
<style type="text/css">{% include "games/svg-paths-shim.css" with svg="/static/svg-paths.svg" %}</style>
<script type="application/json" id="react_context">{{ react_context|json }}</script>
<div id="replay_detail-container"></div>
<script src="{% joust_static 'joust.js' %}"></script>
<script>if(typeof Joust === "undefined") var Joust = null;</script>

<div class="flex-container" id="replay-container">
	{% with replay.global_game as gg %}

	<aside id="replay-infobox-container" class="infobox"></aside>
	{% endwith %}
	<main>
		{% if not replay %}
			<div class="alert alert-warning">
				<h1>Replay not available</h1>
				<p>This replay is no longer available.</p>
				<p><a href="/games/mine/">Back to games list</a></p>
			</div>
		{% else %}
			{% include "snippets/noscript.html" %}
			<section id="main-content-wrapper">
				<section id="joust-container" class="hidden-xs"
					data-replayurl="{{ replay.replay_xml.url }}"
					{% for player in players %}
						data-player{{ forloop.counter }}="{{ player }}"
					{% endfor %}
				></section>
				<section
					class="infobox visible-lg" id="infobox-players-container"
					data-game-id="{{ replay.shortid }}" data-player-name="{{ replay.friendly_player.name }}"
					data-opponent-name="{{ replay.opposing_player.name }}" data-build="{{ replay.global_game.build }}"
				></section>
			</section>
		{% endif %}
	</main>
</div>

{% render_bundle "replay_detail" %}

{% endblock %}
