{% extends "skeleton.html" %}
{% load static %}
{% load socialaccount %}
{% load web_extras %}
{% load feature from features %}
{% load render_bundle from webpack_loader %}
{% load get_current_language from i18n %}

{% block javascript %}
{% include "premium/plan_data.html" %}
<script type="text/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
{% block error_reporting %}
	{% setting "RAVEN_CONFIG_FRONTEND" as raven_config_frontend %}
	{% if raven_config_frontend %}
		<script src="{% static 'vendor/raven.min.js' %}"></script>
		<script>
			if (Raven && typeof Raven.config === "function") {
				var raven = Raven.config("{{ raven_config_frontend.dsn }}", {
					release: "{{ raven_config_frontend.release }}",
					environment: "{% if debug %}development{% else %}production{% endif %}",
					ignoreErrors: [/__firefox__/],
					whitelistUrls: [/https:\/\/hsreplay\.net/],
					tags: {
						locale: "{% get_current_language as lang %}{{ lang }}",
					},
				}).install();
				{% if user.is_authenticated %}
				raven.setUserContext({
					username: "{{ user.username }}",
				});
				{% endif %}
			}
		</script>
	{% endif %}
{% endblock %}
{% block ads %}
	{% feature "ads" as ads %}
	{% feature "networkn" as networkn %}
	{% feature "ads-admin" as ads_admin %}
	{% if ads.enabled and not ads_admin.enabled %}
		{% if networkn.enabled %}
			{% setting "AD_NETWORK_HEAD_SNIPPET" as ad_network_snippet %}
			{% if ad_network_snippet %}
				{{ ad_network_snippet|safe }}
				<script src="{% static "vendor/networkn/hsreplay.min.js" %}"></script>
			{% endif %}
		{% else %}
			{% setting "AD_NETWORK_URL" as ad_network_url %}
			{% if ad_network_url %}
				<script src="{{ ad_network_url }}"></script>
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock %}
{% render_bundle "vendor" %}
{% render_bundle "site" attrs="async" %}
{% endblock %}

{% block body %}

	<header>
		{% block header %}
			{% include "navigation.html" %}
		{% endblock %}
	</header>

	{% if messages %}
		{% spaceless %}
		<div id="site-messages">
			<ul class="inner">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		</div>
		<script type="text/javascript">$("#site-messages").delay(6000).fadeOut("slow");</script>
		{% endspaceless %}
	{% endif %}

	<div id="site-mobile-promo"></div>

	{% block fullcontent %}
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	{% endblock fullcontent %}

	{% if not hide_footer %}
		<footer class="site-footer">
			{% block footer %}
				<div class="footer-ad-container"></div>
				{% include "footer.html" %}
				<div class="footer-ad-container"></div>
			{% endblock %}
		</footer>
	{% endif %}
{% endblock %}
