{% load socialaccount %}
{% load web_extras %}
{% load trans from i18n %}

<div class="btn-group">
	<a
		href="{% if dev %}https://localhost:8443{% endif %}{% provider_login_url 'battlenet' next=next %}"
		class="{{ class|default:"btn promo-button hero-button" }}"
		rel="nofollow"
	>
	{{ inscription|default:'Log in with Blizzard' }}
	</a>
	<button
		type="button"
		class="{{ class|default:"btn promo-button hero-button" }} dropdown-toggle"
		data-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="false"
	>
		<span class="caret"></span>
		<span class="sr-only">{% trans "Toggle dropdown" %}</span>
	</button>
	<ul class="dropdown-menu">
		<li class="dropdown-header">{% trans "Regions" %}</li>
		<li>
			<a href="{% provider_login_url 'battlenet' next=next %}" rel="nofollow">
				{% trans "Blizzard (US/EU/SEA)…" %}
			</a>
		</li>
		<li>
			<a href="{% provider_login_url 'battlenet' region='cn' next=next %}" rel="nofollow">
				{% trans "Blizzard China (CN)…" %}
			</a>
		</li>
		{% if debug %}
		<li class="dropdown-header">{% trans "Debug" %}</li>
		<li>
			<a href="{% url 'account_login' %}?with-password">
				{% trans "Sign in with password…" %}
			</a>
		</li>
		{% endif %}
	</ul>
</div>
