{% extends "account/base.html" %}
{% load i18n %}

{% block content %}
<section class="box-section">
	<h3>{% trans "Email Addresses" %}</h3>

	<div class="inner">
		{% if user.emailaddress_set.all %}
			<p>{% trans "The following email addresses are associated with your account:" %}</p>

			<table id="account-settings-emails">
				{% for email in user.emailaddress_set.all %}
				<tr>
					<th>{{ email.email }}</th>

					<td>{% if email.verified %}
						<span class="label label-success">{% trans "✔ Verified" %}</span>
					{% else %}
						<form method="POST" action="{% url 'account_email' %}">
							{% csrf_token %}
							<input type="hidden" name="email" value="{{ email.email }}"/>
							<button type="submit" name="action_send" class="btn btn-xs btn-primary">{% trans 'Re-send Verification' %}</button>
						</form>
					{% endif %}</td>

					<td>{% if email.primary %}
							<span class="label label-info">{% trans "✔ Primary" %}</span>
						{% elif email.verified %}
							<form method="POST" action="{% url 'account_email' %}">
								{% csrf_token %}
								<input type="hidden" name="email" value="{{ email.email }}"/>
								<button type="submit" name="action_primary" class="btn btn-xs btn-primary">{% trans 'Make Primary' %}</button>
							</form>
						{% endif %}
					</td>
					<td>
						{% if not email.primary %}
						<form method="POST" action="{% url 'account_email' %}">
							{% csrf_token %}
							<input type="hidden" name="email" value="{{ email.email }}"/>
							<button type="submit" name="action_remove" class="btn btn-xs btn-danger">{% trans 'Remove' %}</button>
						</form>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>

			<hr/>

		{% endif %}

		<form method="post" action="{% url 'account_email' %}" class="add_email">
			{% csrf_token %}

			{% if form.errors %}
				<div class="alert alert-danger">{{ form.email.errors }}</div>
			{% endif %}

			<div class="input-group" style="max-width: 400px;">
				<input type="email" name="email" id="id_email" size="30" placeholder="innkeeper@example.com" required="required" class="form-control" />
				<span class="input-group-btn">
					<button type="submit" name="action_add" class="btn btn-success" type="button">{% trans "Add email address" %}</button>
				</span>
			</div>
		</form>

	</div>
</section>

<section class="box-section">
	<h3>{% trans "Notification settings" %}</h3>

	<div class="inner">
		<p>
			{% trans "Control which types of emails you receive at your primary address." %}
		</p>

		<form method="post" action="{% url 'account_email_preferences' %}">
			{% csrf_token %}
			<ul>
				<li class="checkbox disabled"><label><input type="checkbox" checked disabled/> {% trans "Account & security (required)" %}</label></li>
				<li class="checkbox disabled"><label><input type="checkbox" checked disabled/> {% trans "Billing (required)" %}</label></li>
				<li class="checkbox"><label>
					<input type="checkbox" name="marketing" {% if user.settings.email.marketing %}checked{% endif %}/>
					{% trans "Product and feature announcements" %}
				</label></li>
			</ul>
			<p>
				<button type="submit" class="btn btn-info">{% trans "Save" %}</button>
			</p>
		</form>
	</div>
</section>

<p class="alert alert-info">
	{% url 'socialaccount_connections' as connected_accounts_url %}
	{% blocktrans %}Looking for a password setting? You can sign with any of <a href="{{ connected_accounts_url }}">your connected Blizzard accounts</a>, there is no HSReplay.net password.{% endblocktrans %}
</p>
{% endblock %}
