{% extends "account/base.html" %}

{% block content %}
	<section class="box-section">
		<h3>Sign out</h3>

		<div class="inner">

		<p>Are you sure you want to sign out?</p>

		<form method="post" action="{% url 'account_logout' %}">
		  {% csrf_token %}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
		  {% endif %}
		  <button type="submit" class="btn btn-primary">Sign out</button>
		</form>

		</div>
	</section>
{% endblock %}
