{% extends "account/base.html" %}
{% load setting from web_extras %}
{% load last_used from web_extras %}

{% block content %}
	<section id="oauth2-authorized-applications" class="box-section">
		<h3>Authorized Applications</h3>
		<div class="inner">
		{% if authorized_tokens.count %}
			<p>
				These applications have access to your HSReplay.net account.
				They do not have access to your Blizzard account.
			</p>

			<ul class="list-group list-group-no-margin">
			{% for token in authorized_tokens %}
				<li class="list-group-item">
					<form
						method="POST"
						action="{% url 'oauth2_revoke_access' %}"
						onsubmit="return confirm('This application will no longer have any access to your account. Continue?')"
						class="pull-right"
					>
						{% csrf_token %}
						<input type="hidden" name="token" value="{{ token.token }}"/>
						<button type="submit" class="btn btn-danger">Revoke access</button><br />
					</form>

					<h4 class="list-group-item-heading">
						{{ token.application }}
					</h4>

					<div class="list-group-item-text">
						Last used {{ token.created|last_used }}.
						<a href="#token-{{ token.token }}-details" data-toggle="collapse" aria-expanded="false" class="visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">More details&hellip;</a>

						<div class="collapse" id="token-{{ token.token }}-details">
							<h5>Permissions</h5>
							{% if token.scopes %}
								<p>
									You have granted the following permission{{ token.scopes|length|pluralize }} to this application:
								</p>
								<ul class="list-unstyled">
								{% for scope, description in token.scopes.items %}
									<li><strong>&check;</strong>&nbsp;{{ description }}</li>
								{% endfor %}
								</ul>
							{% else %}
								<p>
									You have not granted any permissions to this application.
								</p>
							{% endif %}

							<h5>About this application</h5>
							<p>
								{% if token.application.description %}
									{{ token.application.description }}
									&mdash;
								{% endif %}
								<strong>
									<a href="{{ token.application.homepage }}" target="_blank" rel="noopener">
										<span class="glyphicon glyphicon-globe"></span> Website
									</a>
								</strong>
							</p>
						</div>
					</div>

					<div class="clearfix"></div>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>
				You have no authorized applications at this time.
			</p>
		{% endif %}
		</div>
	</section>

	<section id="account-oauth2-applications" class="box-section">
		<h3>Developer Applications</h3>

		<div class="inner">
		{% if not application_list.count %}
			<p>
				Want to use our OAuth2 API in your own app?
				<a href="mailto:{% setting 'DEFAULT_FROM_EMAIL' %}">Contact us</a> to apply for a token.
			</p>
		{% else %}
			<table class="table table-bordered">
				<thead>
					<th>Application</th>
					<th>Homepage</th>
					<th>Client ID</th>
					<th>Users</th>
				</thead>
			{% for app in application_list %}
				<tr>
					<td><a href="{% url 'oauth2_app_update' pk=app.pk %}">{{ app }}</a></td>
					<td><a href="{{ app.homepage }}">{{ app.homepage }}</a></td>
					<td>{{ app.client_id }}</td>
					<td>{{ app.accesstoken_set.count }}</td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}
		</div>
	</section>
{% endblock %}
