{% extends "account/base.html" %}
{% load blocktrans trans from i18n %}

{% block content %}
{% if user.is_authenticated %}
	{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<div class="account account-block account-password-reset">
	<div class="inner-block">
		<h1>{% trans "Password reset" %}</h1>
		<p class="note">
			{% trans "Forgot your password? Enter your email below, we'll send you a link to reset it." %}
		</p>
		<form action="{% url 'account_reset_password' %}" method="POST">
			{% csrf_token %}
			{{ form.as_p }}

			<button type="submit" class="btn btn-primary">{% trans "Reset password" %}</button>
		</form>
	</div>

	<ul class="account-block-links">
		<li id="account-link-help">
			{% blocktrans %}Need help? <a href="mailto:{{ site_email }}">Contact us</a>.{% endblocktrans %}
		</li>
	</ul>
</div>

{% endblock %}
