{% extends "account/signup.html" %}
{% load account socialaccount %}
{% load trans from i18n %}

{% block content %}

<div class="content">
<h2>{% trans "Sign up" %}</h2>

<p><a href="{% url 'account_login' %}">{% trans "To sign up to HSReplay.net, use your Blizzard account." %}</a></p>

{% if debug or "show-form" in request.GET %}
<hr/>

<p>
	{% trans "Alternatively, sign up with an email and password." %}
</p>

<form method="POST" action="" class="form-group">
	{% csrf_token %}

	{% if form.errors %}
		<ul class="alert alert-danger">{% for f, error in form.errors.items %}{{ error }}{% endfor %}</ul>
	{% endif %}

	<p>
		<label>{% trans "Username" %} <input type="text" name="username" minlength="4" maxlength="20" required id="id_username" class="form-control"/>
	</p>
	<p>
		<label>{% trans "Email address" %} <input type="email" name="email" minlength="5" maxlength="200" id="id_email" class="form-control"/>
	</p>
	<p>
		<label>{% trans "Password" %} <input type="password" name="password1" minlength="6" maxlength="200" required id="id_password1" class="form-control"/>
	</p>
	<p>
		<label>{% trans "Password (repeat)" %} <input type="password" name="password2" minlength="6" maxlength="200" required id="id_password2" class="form-control"/>
	</p>

	<button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
</form>


{% endif %}

</div>
{% endblock %}
