.ad-unit {
	background-color: magenta;
}

.ad-unit--desktop {
	@media (max-width: 767px) {
		display: none;
	}
}

.ad-unit--mobile {
	@media (min-width: 768px) {
		display: none;
	}
}

.ad-container {
	width: 100%;

	> .ad-unit {
		margin: 0 5px;
		display: inline-block;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.ad-container--horizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 0;

	> .ad-unit {
		flex-shrink: 0;
		margin: 0 5px;
	}
}

.gutter-ad-container {
	position: absolute;
	margin-top: 5px;

	@media (max-width: 1879px) {
		display: none;
	}
}

aside > .ad-unit {
	margin-top: 10px;
}
