.ad-unit,
.premium-fallback {
	position: relative;
	// ad blocker canary
	display: block;
	visibility: visible;
	opacity: 1;
	top: 0;
	left: 0;

	&--desktop {
		@media (max-width: 767px) {
			display: none;
		}
	}

	&--mobile {
		@media (min-width: 768px) {
			display: none;
		}

		margin: 15px auto;
	}
}

.ad-unit__admin {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	cursor: pointer;

	&--working {
		cursor: progress;
	}

	color: black;
	font-size: 1.1em;

	background-color: lightcoral;
	border: 1px solid darkred;

	&--enabled {
		background-color: darkseagreen;
		border-color: green;
	}

	p {
		margin: 0;
	}

	input[type="checkbox"] {
		position: absolute;
		top: 5px;
		left: 5px;
		margin: 0;
		cursor: inherit;
	}
}

.ad-container {
	width: 100%;
	margin: 15px 0;

	@media (max-width: 767px) {
		display: none;
	}

	> .ad-unit,
	.premium-fallback {
		margin: 0 5px;
		display: inline-block;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&--horizontal {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex: 0;

		> .ad-unit,
		.premium-fallback {
			flex-shrink: 0;
			margin: 0 5px;
		}
	}
}

.center-ad-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gutter-ad-container {
	position: absolute;

	@media (max-width: 1879px) {
		display: none;
	}
}

aside > .ad-unit,
aside > .premium-fallback {
	margin: 10px auto;
}

.premium-fallback {
	display: block;
}

// Network N CMP banner (cookie consent)
.app_gdpr--2k2uB {
	--cmpBgColor: #ffffff;
	--cmpTextColor: #333333;
	--cmpBrandColor: $red;
	--cmpHoverColor: darken($red, 10%);
}
