#deck-spotlight {
	margin: 10px auto;
	padding: 10px 0 40px 0;
	width: calc(100% - 360px);

	@media (max-width: 1879px) {
		width: calc(100% - 20px);
	}

	h1 {
		margin-top: 0;

		&:first-child {
			margin-top: 20px;
		}
	}

	> .ad-unit {
		margin-bottom: 20px;
	}

	.content-message {
		padding: 50px 0;
		text-align: center;
	}

	.deck-list {
		padding: 20px 0;
	}

	#deck-db-link {
		text-align: center;
	}

	.message-wrapper {
		padding: 30vh 0;
	}
}
