#deck-spotlight {
	margin: 0 auto;
	padding: 20px 0 50px;
	width: 80%;

	h1 {
		margin-top: 20px;
	}

	.content-message {
		padding: 50px 0;
		text-align: center;
	}

	.deck-list {
		padding: 20px 0;
	}

	#deck-db-link {
		text-align: center;
	}

	.message-wrapper {
		padding: 30vh 0;
	}
}
