@import "variables.scss";

#home-container {
	.container-fluid {
		padding: 0;
	}

	.row {
		margin: 0 auto;
		padding-left: 5px;
		padding-right: 5px;

		&:nth-of-type(odd) {
			background-color: #ebebeb;
		}
	}

	.row.features {
		> div {
			padding: 0;
		}
	}

	.btn {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	}
}

#live-data {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 50px;

	h3 {
		margin-bottom: 25px;
	}

	.mode-icon {
		width: 30px;
		height: 30px;
		position: relative;
		top: -2px;
	}

	.animated-list-item {
		> a {
			max-width: 250px;
			flex-grow: 1;
		}

		> span {
			line-height: 34px;
			padding-left: 10px;
			font-weight: bold;
		}

		.player-class {
			padding-left: 35px;
		}
	}
}

#banner {
	background-color: $spacegray;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	height: 175px;
}

#banner-wrapper {
	align-items: center;
	display: flex;
	height: 175px;
	margin: 0 auto;
	max-width: 1650px;
	position: relative;
}

#banner-text {
	color: white;
	margin-left: 24px;
	max-width: 66%;
	text-transform: uppercase;
	z-index: 1;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 1), -1px 1px 0 rgba(0, 0, 0, 1),
		1px 1px 0 rgba(0, 0, 0, 1), 1px -1px 0 rgba(0, 0, 0, 1);

	h1 {
		font-size: 3em;
		font-weight: bold;
	}

	h2 {
		font-size: 2em;
		margin: 0;
	}
}

#banner-ranks {
	position: absolute;
	display: flex;
	right: 0;
	flex-wrap: nowrap;

	img {
		height: 130px;
		width: 130px;

		&:nth-last-of-type(2) {
			opacity: 0.8;
		}
		&:nth-last-of-type(3) {
			opacity: 0.7;
		}
		&:nth-last-of-type(4) {
			opacity: 0.6;
		}
		&:nth-last-of-type(5) {
			opacity: 0.5;
		}
		&:nth-last-of-type(6) {
			opacity: 0.4;
		}
		&:nth-last-of-type(7) {
			opacity: 0.3;
		}
		&:nth-last-of-type(8) {
			opacity: 0.2;
		}
		&:nth-last-of-type(9) {
			opacity: 0.1;
		}

		@media (max-width: 800px) {
			&:nth-last-of-type(4) {
				opacity: 0.5;
			}
			&:nth-last-of-type(5) {
				opacity: 0.3;
			}
			&:nth-last-of-type(6) {
				opacity: 0.1;
			}
		}

		@media (max-width: 550px) {
			&:nth-last-of-type(2) {
				opacity: 0.6;
			}
			&:nth-last-of-type(3) {
				opacity: 0.4;
			}
			&:nth-last-of-type(4) {
				opacity: 0.2;
			}
			&:nth-last-of-type(5) {
				opacity: 0.1;
			}
		}
	}
}

#banner-icon {
	position: absolute;
	height: 160px;
}

.features {
	max-width: 1540px;
	padding-bottom: 20px;

	&:first-of-type {
		padding-top: 15px;
	}

	.feature {
		height: 500px;
		margin: 10px auto;
		max-width: 500px;
		padding: 5px;
		position: relative;

		> * {
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
				0 3px 6px rgba(0, 0, 0, 0.23);
		}

		.feature-title {
			background: $blue;
			padding: 0 7px;
			position: absolute;
			width: calc(100% - 8px);
			left: 4px;
			color: white;
			font-weight: bold;
			font-size: 1.3em;
			border-radius: 1px;
			line-height: 48px;
			display: flex;
			font-variant: small-caps;

			> span {
				flex: 1 1 0;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}

			.feature-btn {
				border: 1px solid rgba(0, 0, 0, 0.1);
				background: rgba(255, 255, 255, 0.3);
				color: white;
				margin: 7px 0;

				&.active {
					background: rgba(255, 255, 255, 0.4);
					text-decoration: underline;
					font-weight: bold;
				}

				&:hover {
					background: rgba(255, 255, 255, 0.5);

					&.active {
						background: rgba(255, 255, 255, 0.4);
					}
				}
			}
		}

		.feature-content {
			border: 1px solid $blue;
			border-radius: 3px;
			height: 100%;
			padding-top: calc(1.2em + 28px);
			background: $spacegray;
			overflow: hidden;

			&.no-title {
				padding-top: 0;
			}

			.promo-button {
				border: 1px solid rgba(255, 255, 255, 0.2);
			}
		}

		.feature-banner {
			background: rgba(29, 54, 87, 0.9);
			color: white;
			margin-top: 120px;
			padding: 10px 15px 15px 15px;

			> h1 {
				font-weight: bold;
				font-size: 2.2em;
				font-variant: small-caps;
				margin: 0;
			}

			> h2 {
				font-size: 1.3em;
				margin: 0;
			}
		}

		#premium-feature {
			background-image: url("/static/images/premium-background.jpg");
			background-position-x: center;
			background-position-y: 30%;
			background-repeat: no-repeat;
			background-size: cover;
			border-color: $premium;
			position: relative;

			.header-wrapper {
				align-items: center;
				display: flex;
				height: 50%;
				justify-content: center;
				background: rgba(35, 39, 42, 0.2);
			}

			h1 {
				color: $premium;
				font-size: 3em;
				font-style: italic;
				font-variant: small-caps;
				font-weight: bold;
				margin: 0;
				text-align: center;
				text-shadow: -1px -1px 0 rgba(0, 0, 0, 1),
					-1px 1px 0 rgba(0, 0, 0, 1), 1px 1px 0 rgba(0, 0, 0, 1),
					1px -1px 0 rgba(0, 0, 0, 1);
			}

			.premium-banner {
				background: rgba(35, 39, 42, 0.8);
				color: white;
				display: flex;
				height: 50%;
				position: absolute;
				top: 50%;
				width: 100%;

				> ul {
					margin: auto 0 auto 10px;
				}

				li {
					font-weight: bold;
					font-size: 1.1em;
				}

				.btn-wrapper {
					margin: auto;
					margin-left: 5px;
					flex: 1 1 0;
				}

				.btn {
					font-size: 1em;
					margin: 0 10px;
					padding: 4px 8px;
					width: calc(100% - 20px);

					&:nth-of-type(2) {
						margin-top: 10px;
					}
				}
			}
		}
	}

	.feature-small {
		height: 230px;

		.feature-content {
			background-position-x: center;
			background-position-y: center;
			border: 1px solid $blue;
			display: block;
			text-decoration: none;
		}

		a.feature-content:hover {
			background-color: rgb(20, 20, 20);
			background-blend-mode: screen;
		}
	}

	.premium-feature {
		.feature-title {
			background: $premium;
			color: black;

			.feature-btn {
				color: black;
			}
		}

		.feature-content {
			border-color: $premium;
		}
	}

	.fade {
		height: 20px;
		position: absolute;
		width: 100%;
		opacity: 1;

		&.fade-top {
			top: 0;
			background: linear-gradient(
				to bottom,
				$spacegray 0%,
				transparent 100%
			);
		}

		&.fade-bottom {
			bottom: 0;
			background: linear-gradient(
				to top,
				$spacegray 0%,
				transparent 100%
			);
		}
	}
}

#archetype-highlight {
	width: 100%;
	height: 100%;
	color: white;

	.card-panel {
		height: 285px;
		position: relative;
		overflow: hidden;
		margin-top: 80px;
		opacity: 0.7;

		.card-art {
			flex: 1 1 0;
			height: 512px;
			width: 100%;
			background-position-x: center;
			background-position-y: -70px;
			position: absolute;

			&:nth-of-type(1) {
				left: -25%;
			}

			&:nth-of-type(2) {
				right: -25%;
				-webkit-mask-image: -webkit-gradient(
					linear,
					left top,
					right top,
					color-stop(0, rgba(0, 0, 0, 0)),
					color-stop(15%, rgba(0, 0, 0, 0)),
					color-stop(35%, rgba(0, 0, 0, 1)),
					color-stop(100%, rgba(0, 0, 0, 1))
				);
			}
		}

		.fade {
			height: 70px;
		}
	}

	.archetype-highlight-background {
	}

	.archetype-highlight-content {
		position: absolute;
		top: 55px;
		height: calc(100% - 72px);
		width: calc(100% - 12px);
		display: flex;
		flex-direction: column;
	}

	.best-deck-title {
		margin-top: 17px;

		> h1 {
			font-size: 1.4em;
			font-style: italic;
			margin-left: 20px;
			margin-bottom: 0px;
		}

		.deck-data {
			display: flex;
			justify-content: space-evenly;

			> span {
				font-size: 2.3em;
				border-bottom: 1px solid white;
				font-weight: bold;
			}
		}
	}

	.archetype-data {
		flex: 1 1 0;
		text-align: center;
		margin-top: 100px;
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 1), -1px 1px 0 rgba(0, 0, 0, 1),
			1px 1px 0 rgba(0, 0, 0, 1), 1px -1px 0 rgba(0, 0, 0, 1);

		> h1 {
			font-size: 3.5em;
			font-variant: small-caps;
			font-weight: bold;
			margin: 0;
		}

		> h2 {
			font-size: 1.8em;
			margin-top: 15px;
		}
	}
	.archetype-name {
	}

	.promo-button {
		margin: 5px 15px;
		width: calc(100% - 32px);
	}
}

#replay-feed {
	background-image: url("/static/images/live-data-background.jpg");
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;

	h1 {
		font-size: 1.5em;
		margin-top: 10px;
	}

	h4 {
		margin-top: 0;
		font-weight: bold;
	}

	#replay-contributors {
		font-size: 1.2em;
		padding: 5px 0 3px 0;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	}

	.scrolling-feed {
		flex: 1 1 0;
		list-style: none;
		padding: 0;
		overflow: hidden;
		position: relative;

		.feed-item {
			position: absolute;
			width: 100%;
			transition: top 100ms ease-out;
		}
	}

	.replay-feed-item {
		height: 44px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		margin: 0 10px;
		line-height: 44px;
		display: flex;
		text-decoration: none;
		color: white;

		.replay-feed-player {
			flex: 1 1 0;
			// font-variant: small-caps;
			background-size: contain;
			background-repeat: no-repeat;
			display: flex;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			> span {
				flex: 1 1 0;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&.player-left {
				flex-direction: row-reverse;
				text-align: right;
			}

			&.player-right {
				flex-direction: row;
				text-align: left;
			}
		}

		.rank-icon-standalone {
			width: 44px;
			height: 44px;
			margin: 0;
			flex-basis: 44px;

			> figcaption {
				font-size: 1em;
			}
		}

		.vs-icon {
			height: 20px;
			width: 20px;
			vertical-align: top;
			margin-top: 12px;
		}

		.player-icon {
			color: goldenrod;
			font-weight: bold;
			padding: 0 5px;
			opacity: 0;
			font-size: 1.5em;
			height: 16px;
			margin-top: 14px;

			&.winner {
				opacity: 1;
			}
		}

		&:hover {
			background: rgba(255, 255, 255, 0.2);
			cursor: pointer;
		}
	}

	#contributor-button-wrapper {
		background: rgba(0, 0, 0, 0.1);
	}

	.promo-button {
		margin: 15px;
		width: calc(100% - 32px);
	}
}

#feature-class-ranking {
	.mode-icon {
		width: 24px;
		height: 24px;
		margin: -7px 4px -7px -7px;
		fill: white;
	}
}

#class-ranking {
	color: white;
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;

	#mode-selection {
		padding: 10px;
	}

	.class-item {
		background-position-x: center;
		background-position-y: 25%;
		border-bottom: 1px solid $spacegray;
		flex: 1 1 0;
		position: relative;

		.class-item-content {
			align-items: center;
			background: linear-gradient(
				to right,
				$spacegray 0,
				$spacegray 10%,
				transparent 40%,
				transparent 60%,
				$spacegray 100%
			);
			color: white;
			display: flex;
			height: 100%;
			position: relative;
			transition: background 0.2s linear;
			width: 100%;

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}

			.class-index {
				font-size: 2.2em;
				padding: 0 10px;

				&::first-letter {
					font-weight: bold;
				}
			}

			.class-name {
				flex: 1 1 0;
				font-size: 1.7em;
				text-align: left;
				font-variant: small-caps;
				font-weight: bold;
			}

			.winrate-wrapper {
				height: 100%;
				background: rgba(0, 0, 0, 0.4);
				display: flex;
				align-items: center;
			}

			.class-winrate {
				font-size: 1.5em;
				font-weight: bold;
				padding: 0 10px;
				text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5),
					-1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5),
					1px -1px 0 rgba(0, 0, 0, 0.5);
				filter: brightness(1.3);
			}

			.view-decks-btn {
				background: $red;
				color: white;
				font-size: 0.8em;
				font-weight: bold;
				padding: 3px 6px;
				position: absolute;
				right: 90px;
			}
		}

		.color-overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			mix-blend-mode: color;
			opacity: 0.9;

			&.druid {
				background: rgb(153, 84, 43);
			}

			&.hunter {
				background: rgb(37, 93, 33);
			}

			&.mage {
				background: rgb(91, 148, 178);
			}

			&.paladin {
				background: rgb(198, 140, 29);
			}

			&.priest {
				background: rgb(255, 255, 255);
			}

			&.rogue {
				background: rgb(59, 59, 65);
			}

			&.shaman {
				background: rgb(22, 40, 116);
			}

			&.warlock {
				background: rgb(84, 53, 95);
			}

			&.warrior {
				background: rgb(128, 27, 17);
			}
		}
	}
}

#faq.row {
	max-width: 1500px;
	padding: 10px 10%;
}
