.sticky {
	position: relative;
	width: 100%;

	&__element {
		position: static;

		@media screen {
			&--stick {
				position: fixed;
				z-index: 100;
			}
		}
	}
}

.sticky-native {
	display: block;
	position: sticky;
}
